# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
mediafiles/
staticfiles/
media/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
.pycharm
*.swp
*.swo
*~
.DS_Store
.project
.pydevproject
.settings/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Misc
.vagrant/
.venv
